<!DOCTYPE html>
<html lang="en">


<head>
    <title> home </title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/TamilNadu_Logo.svg/220px-TamilNadu_Logo.svg.png">
    <style>
    div#mydiv{
        margin-bottom: 0px;
        margin: 100px ;
        margin:white;
        padding: 20px;
    }
    body{
        background-image:url('https://upload.wikimedia.org/wikipedia/commons/9/90/Chennai_Mofussil_Bus_Terminus.jpg');

        background-size: 1600px;
        opacity: 50%;
    }
    </style>

</head>

<body>
    
    <div>
        <img src="https://imgtr.ee/images/2023/09/28/8dcdab24583a5e46a85b2df6ae9ef1b7.jpeg" width=100>
    </div>

  


</body>
</html>