<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Login Page</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/TamilNadu_Logo.svg/220px-TamilNadu_Logo.svg.png">
    <style>
        h3{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <ul>
        <table>
            <img src="https://imgtr.ee/images/2023/09/28/8dcdab24583a5e46a85b2df6ae9ef1b7.jpeg " width="100">
        </table>
    </ul>
    
    <center>
        <img src="https://www.tnstc.in/images/tnstc_header02.jpg" alt="tnstc.gov" >
    <h1 style="color:rgb(51, 234, 222) ; font-family:'Times New Roman', Times, serif"> LOGIN </h1>
    <form>
        <table>
            <tr>
                <td> <h3> Email Id : </h3> </td> <td> <input type="email" placeholder="abc@gmail.com" >  </td>
            </tr>
            <tr>
                <td> <h3> Password : </h3> </td> <td> <input type="password" placeholder="password" >  </td>
            </tr>
            <tr>
                <td> </td> <td> <input type="reset" style="cursor: pointer;"> <input type="submit" style="cursor:pointer"> </td>
            </tr> 
            
        </table>
    </form>
    

    <h4 style="font-family:'Times New Roman', Times, serif" >doesn't have an account yet?  <a href="registration.html"> sign up</h4> </a>
    </center>
    
    
</body>
</html>
