<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>registration</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/TamilNadu_Logo.svg/220px-TamilNadu_Logo.svg.png">
    <style>
        h3{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <ul>
        <table>
            <img src="https://imgtr.ee/images/2023/09/28/8dcdab24583a5e46a85b2df6ae9ef1b7.jpeg " width="100">
        </table>
    </ul>
    <center>
        <img src="https://www.tnstc.in/images/tnstc_header02.jpg" alt="tnstc.gov" >
        <h2 style="color: forestgreen; font-family:'Times New Roman', Times, serif"> REGISTER HERE </h2>
        <form>
            <table>
                <tr>
                    <td> <h3> Name : </h3></td> <td> <input type="text" placeholder="kevin" required></td>
                </tr>
                <tr>
                    <td> <h3> Mobile Number : </h3></td> <td> <input type="number" placeholder="1234567890" required></td>
                </tr>
                <tr>
                    <td> <h3> Email Id : </h3></td> <td> <input type="email" placeholder="abc@gmail.com" required></td>
                </tr>
                <tr>
                    <td> <h3> Aadhar Number : </h3></td> <td> <input type="number" placeholder="1234 5678 9011" required></td>
                </tr>
                <tr>
                    <td> <h3> Date Of Birth : </h3></td> <td> <input type="date" placeholder="" required></td>
                </tr>
                
                <tr>
                    <td> <h3> Password : </h3></td> <td> <input type="password" placeholder="************" required>  </td>
                </tr>
                <tr>
                    <td> </td> <td> <input type="reset" style="cursor: pointer;">  <input type="submit" style="cursor: pointer;"> </td>
                </tr>
                
            </table>
        </form>

                <h6 style="font-size: 15px; color: red;"> all the fields are mandate to be filled </h6>
            
    </center>
</body>
</html>